// .dashboardBody {
//     margin: 0px 0px 10px 0px !important;
// }

.dash-title {
    font-size: 13px;
    font-weight: bold;
    font-family: "Segoe UI";
    color: #676a6c;
    // padding: 0.75rem 1.25rem;
    padding: 10px;
    margin-bottom: 0;
    background-color: rgb(255, 255, 255) !important;
    border-bottom: 1px solid #e7eaec !important;
    border-radius: 8px 8px 0px 0px;
}

.dash-header {
    font-size: 20px;
    font-family: "Segoe UI";
    color: #676a6c;
    font-weight: normal !important;
}

.card {
    border-radius: 8px !important;
    margin: 5px;

    &__title {
        font-size: 13px;
        font-weight: bold;
        font-family: "Segoe UI";
        color: #35359a;
        // padding: 0.75rem 1.25rem;
        padding: 10px;
        margin-bottom: 0;
        background-color: rgb(255, 255, 255) !important;
        border-bottom: 1px solid #e7eaec !important;
        border-radius: 8px 8px 0px 0px;
    }

    &__body {
        -webkit-box-flex: 1;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 10px 10px 10px 10px;
    }
}

.card-list {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
}

.buleth {
    &__blue {
        background-color: #333399;
        height: 73px;
        width: 73px;
        border-radius: 50px;
        text-align: center;
        padding: 10px;
        font-size: 32px;
        font-weight: bold;
        color: white;
        margin: auto;
    }

    &__green {
        background-color: #00cc33;
        height: 73px;
        width: 73px;
        border-radius: 50px;
        text-align: center;
        padding: 10px;
        font-size: 32px;
        font-weight: bold;
        color: white;
        margin: auto;
    }

    &__red {
        background-color: #cc0000;
        height: 73px;
        width: 73px;
        border-radius: 50px;
        text-align: center;
        padding: 10px;
        font-size: 32px;
        font-weight: bold;
        color: white;
        margin: auto;
    }

}

.buleth-text {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.prospect {
    border-radius: 8px !important;
    margin: 10px 5px 10px 5px;
    background-color: #E3E7EE;

    &__title {
        // color: #333399;
        // font-size: 14px;
        // font-weight: bold;
        // font-family: "Segoe UI";
        // // color: #676a6c;
        // // padding: 0.75rem 1.25rem;
        // padding: 10px;
        // margin-bottom: 0;
        // // background-color: rgb(255, 255, 255) !important;
        // border-bottom: 1px solid #ffffff;
        // border-radius: 8px 8px 0px 0px;

        color: #333399;
        font-size: 14px;
        font-weight: bold;
        font-family: "Segoe UI";
        padding: 5px 10px 5px 10px;
        margin-bottom: 0;
        border-bottom: 1px solid #ffffff;
        border-radius: 8px 8px 0px 0px;
    }

    &__body {
        -webkit-box-flex: 1;
        flex: 1 1 auto;
        min-height: 1px;
        // padding: 10px 10px 10px 10px;
        padding: 5px;

    }

    &__content {
        font-size: 14px;
        color: #666666;
    }

}

.isGrey {
    color: #7f8186;
}

.badgeHeader {
    width: 100%;
    color: #fff !important;
    background-color: #333399 !important;
    min-height: 40px;
    font-size: 12px;

    padding-top: 9px;
    padding-bottom: 8px;
    font-weight: 700;

    border-radius: 10px;
    margin-bottom: 10px;
}

.badgeContent {
    width: 100%;
    color: #7f8186 !important;
    background-color: #e3e7ee !important;
    min-height: 40px;
    font-size: 12px;
    padding-top: 7px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.contentFill {
    margin: auto;

    // padding: 0.6% 0px 0px 2.5% !important;
    &__nextaction {
        margin: auto;
        text-align: right;
    }
}

.ContentFillBadge {
    // text-align: center;
    // padding: 0.5% 0px 0px 2.5% !important;
    font-size: 11px;
    margin: auto;
}

.badgeStatus {
    padding-top: 3px;
    padding-bottom: 4px;
    border-radius: 4px;

    /* border-radius: 10px;
  max-width: 100%;
  min-width: 100px;
  height: 100%;
  padding-top: 2.5%;
  position: absolute; */
}

.AppointmentData {
    border-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cfcfcf;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.AppointmentIcon {
    font-size: 15px;
    text-align: right;
    // padding-top: 5%;
    margin: auto;
    max-width: 10% !important;
}

.AppointmentDescs {
    font-size: 12px;
    color: #7f8186;
}

.AppointmentTitle {
    font-size: 15px;
    color: #4e5052;
}

.notification {
    border-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cfcfcf;
    padding-top: 10px;
    padding-bottom: 10px;
    // margin-bottom: 5px;
    cursor: pointer;

    &__descs {
        font-size: 13px;
        color: #333399;
        font-weight: 700;
    }

    &__descs-disabled {
        font-size: 13px;
        color: #d7d7d7;
        font-weight: 700;
    }

    &__time {
        font-size: 13px;
        color: #7f8186;
        float: right;
    }

    &__icon {
        font-size: 13px;
        text-align: right;
        // padding-top: 5%;
        margin: auto;
        // max-width: 5% !important;
        max-width: fit-content !important;
    }
}

.CommisionData {
    border-width: 1px;
    // border-bottom-style: solid;
    // border-bottom-color: #8f81a1;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 11px;
}

.CommisionIcon {
    // font-size: 15px;
    text-align: right;
    // padding-top: 5%;
    margin: auto;
    max-width: 40%;
}

.CommisionDescs {
    font-size: 28px;
    color: #7f8186;
}

.CommisionTitle {
    font-size: 15px;
    color: #4e5052;
}

.CalendarTagMonth {
    border-style: solid;
    border-color: #333399;
    border-width: 2px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    background-color: #333399;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    // max-height: 10%;
    // min-height: 26px;
}

.CalendarTagDate {
    border-style: solid;
    border-color: #333399;
    border-width: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333399;
    text-align: center;
    height: 29px;
    /* padding-top: 5%; */
}

.ChartLegend-Wrap {
    background-color: #e3e7ee;
    border-radius: 10px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    height: 53px;
}

.ChartLegend-Content {
    margin-bottom: 5px;
    /* padding-top: 5px;*/
    width: 70px;
}

.bedge-container {
    position: relative;
    min-width: 290px;
    overflow-x: auto;
    overflow: hidden;

    &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #484642;
        outline: 1px solid slategrey;
    }
}